/* color:#66BFBF */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  color: #40514E;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

.container-fluid {
  padding: 0 12%;
}

.row {
  margin: 0 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* top section */
#top {
  background-color: #eaf5ff;
}

.header-ruler {
  border: inner grey 6px;
  border-bottom: none;
  margin: 0 0 0 0;
}

.navbar {
  padding: 1rem 1rem;
}

.header-link {
  color: #66BFBF;
  padding: 5px 15px;
  //text-align: center;
  font-size: 1.2rem;
  margin: 40px 20px;
}

.header-link:hover {
  text-decoration: none;
  color: #000;
}

.social-icon {
  font-size: 1.5rem;
}

.align-right {
  position: absolute;
  right: 0;
}

.header {
  text-align: center;
}

.header__top-cloud {
  position: absolute;
  top: 10%;
  left: 25%;
}

.header-text-box {
  margin: 8% 15% 2%;
}

.heading-primary {
  font-size: 3rem;
  color: #66BFBF;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

.header__intro {
  font-size: 1.7rem;
  line-height: 2;
}

.button {
  background-color: #66BFBF;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin: 0 2rem;
  border-radius: 8px;
}

.btn-header {
  font-size: 1.5rem;
}

.btn-header:hover {
  text-decoration: none;
  color: #000;
}

.header__bottom-cloud {
  position: absolute;
  top: 50%;
  left: 65%;
}

.header-mountain-image {
  margin-top: 4rem;
}

/* portfolio secton */
.title {
  color: #66BFBF;
  font-size: 2.5rem;
  margin: 3% auto;
  text-transform: uppercase;
  padding: 0 0;
}

.portfolio-box {
  margin-bottom: 4%;
}

.portfolio-image {
  box-shadow: 2px 0px 3px rgba(204, 204, 204, .2), -2px -2px 3px rgba(204, 204, 204, 0.2);
  width: 70%;
}

.portfolio__item-title {
  background-color: #f9f9f9;
  box-shadow: 2px 2px 2px rgba(204, 204, 204, .2), -2px 0px 2px rgba(204, 204, 204, .2);
  font-size: 1.2rem;
  width: 70%;
  padding: 10px 10px;
  margin: 0 auto;
  color: #66BFBF;
}

.portfolio__item-title:hover {
  color: #000;
}

/* jobs searching session */
.contact__text {
  font-size: 1.3rem;
  line-height: 2;
  margin: 0 15%;
}

.email-icon {
  padding: 10px;
}

.btn-contact {
  margin: 2rem 0;
}

/* footer session */
#footer {
  background-color: #66BFBF;
  padding: 1rem;
  margin: 0;
}

.copyright-message {
  color: #EAF6F6;
  font-size: .75rem;
}

@media only screen and (max-width: 1440px) {
  .container-fluid {
    padding: 0 0;
  }

  .header-text-box {
    margin: 10% 5% 2%;
  }
}

@media only screen and (max-width: 991px) {
  .header__top-cloud {
    top: 11%;
    left: 15%;
  }

  .header-text-box {
    margin-top: 7%;
  }

  .heading-primary {
    font-size: 2.5rem;
  }

  .header__intro {
    font-size: 1.2rem;
  }

  .button {
    padding: 5px 15px;
    margin: 0 1rem;
  }

  .btn-header {
    font-size: 1.2rem;
  }

  .header__bottom-cloud {
    top: 40%;
  }

  .portfolio-image {
    width: 17rem;
  }

  .portfolio__item-title {
    width: 17rem;
  }
}

@media only screen and (max-width: 768px) {
  .header-link {
    margin: 0 0;
  }

  .header__top-cloud {
    left: 5%;
  }

  .header-text-box {
    margin-top: 15%;
  }

  .btn-header {
    margin: 0 1rem;
  }

  .bottom-cloud {
    display: none;
  }

  .header-mountain-image {
    margin-top: 2rem;
  }

  .mountain-image {
    width: 25rem;
  }

  .title {
    font-size: 2rem;
    margin: 5%;
  }

  .contact__text {
    font-size: 1.2rem;
    margin: 0 0;
  }
}

@media only screen and (max-width: 400px) {
  .header-link {
    padding: 5px 15px;
  }
  .navbar {
    padding: 0 0;
  }
  .header__top-cloud{
    top: 8%;
  }
  .header-text-box {
    margin-top: 20%;
  }

  .heading-primary {
    font-size: 2rem;
  }

  .button {
    padding: 5px 15px;
  }

  .mountain-image {
    width: 20rem;
  }

  .portfolio-image {
    width: 15rem;
  }

  .portfolio__item-title {
    width: 15rem;
  }
}
