/* color:#66BFBF */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  color: #40514E;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.ruler {
  width: 6%;
  border: dotted grey 6px;
  border-bottom: none;
  margin: 0 auto;
}

.button {
  background-color: #66BFBF;
  color: #FFF;
  padding: 10px 20px;
  text-decoration: none;
}

.title {
  color: #66BFBF;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 2rem 2rem;
}

/* top */
#top {
  background-color: #eaf5ff;
}

/* navigation */
.navbar {
  padding: 1rem 2rem;
}

.header-link {
  color: #66BFBF;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.2rem;
  margin: 40px 20px;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.header-link:hover {
  color: #000;
}

.social-icon {
  font-size: 2rem;
}

.align-right {
  position: absolute;
  right: 0;
}

/* header */
.header {
  height: 100vh;
  position: relative;
  text-align: center;
}

.header-ruler {
  border: inner grey 6px;
  border-bottom: none;
  margin: 0 0 1rem 0;
}

.header__top-cloud {
  position: absolute;
  left: 17%;
}

.header-text-box {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary-main {
  display: block;
  font-size: 2.3rem;
  color: #66BFBF;
  text-transform: uppercase;
  margin: 0 0;
}

.heading-primary-sub {
  display: block;
  font-size: 1.5rem;
  color: #66BFBF;
  margin-top: 5px;
}

.header__intro {
  line-height: 2;
}

.header__button {
  margin-top: 0;
  display: inline-flex;
}

.btn-header {
  margin: 0 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
}

.btn-header:hover {
  text-decoration: none;
}

.header__bottom-cloud {
  position: absolute;
  top: 55%;
  left: 70%;
}

.header-mountain-image {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* portfolio session */
.portfolio-box {
  margin-bottom: 1rem;
}

.portfolio-image {
  box-shadow: 3px 3px 3px #ccc, -3px -3px 3px #ccc;
  width: 75%;
}

.portfolio__item-title {
  background-color: #EEE;
  font-size: 1.3rem;
  width: 75%;
  padding: 5px 10px;
  margin: 0 auto;
}

.portfolio__button:hover {
  color: #000;
}

/* jobs searching session */
.contact__text{
  margin: 0 15%;
}
.email-icon {
  padding: 10px;
}
.btn-contact{
  margin: 1rem 0;
}

/* footer session */
#footer {
  background-color: #66BFBF;
  padding: 1rem;
  margin: 0;
}

.copyright-message {
  color: #EAF6F6;
  font-size: .75rem;
}

@media only screen and (max-width: 991px) {
  .header-text-box {
    top: 27%;
    width: 80%;
  }
  .header{
    height:110vh;
  }
  .header-mountain-image{
    top: 75%;
  }

  .portfolio-image {
    width: 17rem;
  }
  .portfolio__item-title{
    width: 17rem;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 30px;
  }
  .header-link {
    margin: 5px 5px;
  }
  .header {
    height: 100vh;
  }
  .header-text-box {
    top: 35%;
    width: 90%;
  }
  .btn-header {
    margin: 0 1rem;
  }
  .bottom-cloud{
    display: none;
  }
  .header-mountain-image{
    top: 80%;
  }
  .mountain-image{
  width: 25rem;;
  }
  .contact__text{
    margin: 0 0;
  }
}

@media only screen and (max-width: 400px) {
  .container-fluid {
    padding: 0 10px;
  }
  .header-link {
    padding: 5px 5px;
  }
  .navbar {
    padding: 0 0;
  }
  .header{
  //  height: 85vh;
  }
  .header-text-box {
    top: 40%;
  }
  .heading-primary-main {
    font-size: 1.75rem;
  }
  .heading-primary-sub {
    font-size: 1.2rem;
  }
  .btn-header {
    margin: 0 1rem;
  }
  .button{
    padding:5px 5px;
  }
  .bottom-cloud{
    display: none;
  }
  .header-mountain-image{
    top: 85%;
  }
  .mountain-image{
  width: 20rem;
  }
  .contact__text{
    margin: 0 0;
  }
  .title{

  }

  .ruler {
    width: 10%;
    border: dotted grey 8px;
    margin: 1rem auto;
    border-bottom: none;
  }

  .portfolio-box {
    margin-top: 1rem;
  }
  .portfolio-image{
    width: 15rem;
  }
  .portfolio__item-title{
    width: 15rem;
  }
}
