*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #FFF;
  color: #40514E;
  margin:0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
.container-fluid{
  padding:0 15%;
}
/* top session */
.heading{
  color: #66BFBF;
}
#top{
  background-color: #eaf5ff;
}
.icon{
  background-color: #FFF;
  border-radius: 100%;
  width: 75px;
  height: 75px;
}
.navbar{
  padding: 2rem 2rem;
}
.nav-link{
  text-decoration: none;
  font-weight: 300;
  margin: 0 1.5rem;
}
.top-cloud{
  position: absolute;
  left: 15%;
  margin-bottom: 3%;
}
.title{
  position: relative;
  top: 10%;
  font-size: 2.5rem;
}
.sub-title{
  position: relative;
  top: 10%;
  font-size: 1.5rem;
}
.intro{
  position: relative;
  line-height: 2;

}
.quote{
  text-align: center;
  top: 20%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.bottom-cloud{
  position: absolute;
  left: 80%;
  top: 50%;
}
.mountain-image{
  position: relative;
  top: 80%;
  max-width: 100%;
  vertical-align: middle;
}
.ruler{
  width: 6%;
  border: dotted grey 6px;
  border-bottom: none;
  margin: 2.5rem auto;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
/* hello session */
.profile-image{
    background-color: #66BFBF;
    border-radius: 100%;
    margin: 3% auto;
    max-width: 100%;
    display: block;
  }
/* portfolio session */
.portfolio-box{
  margin-top: 2.5rem;
}
.portfolio-image{
  width: 75%;
}
.button{
  background: #11CDD4;
  color: #FFF;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  margin: 40px 20px;
  text-decoration: none;
}
.button:hover{
  color: #EEE;
}
.margin-top{
  margin-top: 2rem;
}
/* jobs searching session */
.email-icon{
  padding: 10px;
}

/* footer session */
#footer{
  background-color: #66BFBF;
  padding-top: 1rem;
}
.footer-link{
  color: #EAF6F6;
  margin: 5px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #30E3CB;
}
.copyright-message{
  color: #EAF6F6;
  font-size: .75rem;
  padding: 10px;
}

@media only screen and (max-width: 991px){
  .intro{
    width: 100%;
  }
  .quote{
    top: 22%;
    margin-bottom: 3rem;
  }
  .portfolio-image{
    width: 17rem;
  }
}
@media only screen and (max-width: 768px) {
  .container-fluid{
    padding: 0 30px;
  }
  .title{
    top: 12%;
    font-size: 1.7rem;
  }
  .sub-title{
    top: 12%;
    font-size: 1.5rem;
  }
  .bottom-cloud{
    display: none;
  }
  .intro{
    font-size: 1rem;
    width: 100%;
  }
  .quote{
    top: 22%;
    margin-bottom: 3rem;
  }
  .portfolio-image{
    width: 15rem;
  }
  .heading{
    font-size: 1.75rem;
  }
  .sub-title{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 400px)  {
  .container-fluid{
    padding: 0 20px;
  }
  .navbar{
    padding: 2rem 0;
  }
  .icon{
    left: 5%;
    width: 70px;
    height: 70px;
  }
  .title{
    margin-top: 1rem;
    top: 15%;
    font-size: 1.7rem;
  }
  .sub-title{
    top: 15%;
    font-size: 1.5rem;
  }
  .intro{
    top: 0;
    font-size: 1rem;
    width: 100%;
    line-height: 1.5;
  }
  .quote{
    top: 30%;
    margin-bottom: 3rem;
  }
  .bottom-cloud{
    display: none;
  }
  .profile-image{
    width: 30%;
  }
  .ruler{
    width: 10%;
    border: dotted grey 8px;
    margin: 2.5rem auto;
    border-bottom: none;
  }
  .portfolio-box{
    margin-top: 1.5rem;
  }
